.btn-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.play-btn {
    flex: 1 1 0;
}
.previous-btn {
    flex: 1 1 0;
}
.next-btn {
    flex: 1 1 0;
}

@media screen and (min-width: 960px) {
    .animation-container {
        width: 25%;
        background-color: white;
        border-radius: 4px;
        border: 1px solid #ccc;
        margin: 20px;
        padding: 5px;
    }
}
