body {
    height: 100vh;
    overflow: hidden;
}

#root {
    display: grid;
    height: 100vh;
    grid-template-columns: 0 auto 3fr 3fr 3fr 3fr 0;
    grid-template-rows: 0 auto 1fr auto 50px 0;
    grid-template-areas:
      ". . . . . . ."
      ". . . title . sidebar ."
      ". . . . . . ."
      ". zoombtn . . . . ."
      ". zoombtn . controls . colorbar ."
      ". . . . . . .";
    grid-gap: 0.5em;
}

.App-map {
    height: 100%;
    grid-row: 1 / -1;
    grid-column: 1 / -1;
    z-index: 1;
}

.App-colorbar {
    grid-area: colorbar;
    z-index: 2;
}

.App-controls {
    grid-area: controls;
    z-index: 2;
}

.App-zoom {
    grid-area: zoombtn;
    z-index: 2;
}

.App-title {
    grid-area: title;
    z-index: 2;
}

.App-sidebar {
    grid-area: sidebar;
    z-index: 2;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
}
