.colorbar-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    border-top: 1px solid #ccc;
    padding: 10px;
    margin: 0;
}

@media screen and (min-width: 960px) {
    .colorbar-container {
        left: 50%;
        width: 50%;
        transform: translate(-50%);
        margin: 20px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
}
