@media screen and (min-width: 960px) {
    .colorbar-container {
        background-color: white;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
        height: 40px;
    }
}
