html, body {
    margin: 0;
    padding: 0;
}
.full-window {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.wide {
    width: 500px;
}
.abs-top {
    position: absolute;
    top: 0;
}
.abs-bottom {
    position: absolute;
    bottom: 0;
}
.left {
    left: 0;
}
.right {
    right: 0;
}
.margin-20 {
    margin: 20px;
}
.center {
    left: 50%;
    transform: translate(-50%);
}
.title {
    background-color: white;
    border: 1px solid #CCC;
    border-radius: 4px;
    margin: 20px;
    padding: 10px 20px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.2rem;
}
.colorbar {
    background-color: white;
    border: 1px solid #CCC;
    border-radius: 4px;
    padding: 10px;
    padding-bottom: 0;
}
.pos-abs {
    position: absolute;
}
.pad-bot-6 {
    padding-bottom: 6px;
}
.menu {
    background-color: white;
    border: 1px solid #CCC;
    border-radius: 4px;
}
.lite-btn {
    background-color: white;
    border: 1px solid #CCC;
    border-radius: 4px;
    margin: 0 3px;
    padding: 4px 0;
}
.lite-btn:hover {
    border: 1px solid #777;
    color: #777;
}

.tool-icon {
    background-color: white;
    border: 1px solid #CCC;
    border-radius: 4px;
    margin: 2px;
    cursor: pointer;
}
.tool-icon:hover {
    background-color: white;
    border: 1px solid #777;
}

.btn-row {
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin: 6px;
}
.play-btn {
    flex: 1 1 0;
}
.previous-btn {
    flex: 1 1 0;
    margin-left: 0;
}
.next-btn {
    flex: 1 1 0;
    margin-right: 0;
}
