body {
    height: 100vh;
    overflow: hidden;
}

.hidden {
    display: none;
}

.App-window {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "navbar"
      "content"
}

.App-navbar {
    grid-area: navbar;
    background-color: #333;
    font-family: Helvetica;
    color: white;
}

.App-navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.App-navbar--left {
    margin-right: auto;
}
.App-navbar li {
}
.App-navbar li:hover {
    background-color: #444;
}
.App-navbar a {
    display: block;
    padding: 1em;
    color: white;
    text-decoration: none;
}


.App-container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
}


.App-content {
    display: grid;
    grid-column: 1 / 3;
    grid-row: 1 / -1;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto auto auto;
    grid-template-areas:
      "title title"
      ". ."
      "zoombtn ."
      "colorbar colorbar"
      "controls controls"
}

@media screen and (min-width: 960px) {
    .App-content {
        display: grid;
        grid-template:
          ". . .        . .        .        ." 0
          ". . title    . colorbar colorbar ." auto
          ". . .        . .        .        ." auto
          ". . .        . .        .        ." 1fr
          ". . .        . .        zoombtn  ." auto
          ". . controls . .        zoombtn  ." 50px
          ". . .        . .        .        ." 0
          / 0 1fr 1fr 1fr 200px auto 0;
        grid-gap: 0.5em;
    }
}

.App-map {
    height: 100%;
    grid-row: 1 / -1;
    grid-column: 1 / -1;
    z-index: 1;
}

.App-colorbar, .App-controls, .App-zoom, .App-title {
    z-index: 2;
}

.App-colorbar {
    grid-area: colorbar;
}

.App-controls {
    grid-area: controls;
}

.App-zoom {
    grid-area: zoombtn;
}

.App-title {
    grid-area: title;
}

.App-sidebar {
    z-index: 3;
    grid-column: 1 / 2;
    grid-row: 1 / -1;
}

/* Sidebar */
.App-sidebar {
    border-bottom: 1px solid #ccc;
    background-color: white;
}
@media screen and (min-width: 960px) {
    .App-sidebar {
        border-right: 1px solid #ccc;
        background-color: white;
    }
}
