.colorbar-container {
    display: flex;
    padding: 5px;
    background-color: white;
    border-top: 1px solid #ccc;
}
@media screen and (min-width: 960px) {
    .colorbar-container {
        border: 1px solid #ccc;
        border-radius: 4px;
    }
}


.Colorbar__edit {
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    padding: 0.4em;
    border: none;
    background-color: white;
    color: #333;
}

.Colorbar__edit:hover {
    color: white;
    background-color: #333;
}
