.colorbar-container {
    padding: 5px;
    background-color: white;
    border-top: 1px solid #ccc;
}
@media screen and (min-width: 960px) {
    .colorbar-container {
        border: 1px solid #ccc;
        border-radius: 4px;
    }
}
