/**
 * CSS for Elm app
 */
.Account__h1 {
    margin-top: 0;
    font-weight: 100;
    font-family: Helvetica;
    color: #2EAFFF;
}
.Account__ul {
    margin: 0;
    margin-top: 0.5em;
    padding-left: 1em;
}
.Account__li::marker {
    color: #2EAFFF;
}
.Account__card {
    padding: 2em;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    margin-top: 2em;
    border: 1px solid #eee;
    font-family: Helvetica;
}
.Account__item__container {
    margin-top: 2em;
}
.Account__item__label {
    font-weight: bold;
    font-size: 0.9em;
    color: #333;
}
.Account__item__content {
    margin-top: 0.5em;
}
.ShowLayer__button {
    font-size: 100%;
    font-family: inherit;
    border: none;
    padding: 0;
    background-color: white;
    cursor: pointer;
    margin: 0 0.5em;
    width: 1em;
}

/** CoastlineMenu.css **/
fieldset {
    font-family: Helvetica, Arial, sans-serif;
    margin: 4px;
    padding: 4px;
    border: none;
}

.label {
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
    margin-top: 20px;
    margin-left: 6px;
}

/** Limits menu system **/
.Limits__container {
    font-family: Helvetica, Arial, sans-serif;
    margin-top: 1em;
}
.Limits__heading {
    font-weight: bold;
}
.Limits__label {
    display: block;
    font-size: 0.9em;
}
.Limits__input {
    margin-top: 1em;
}
.Limits__warning {
    margin: 0.1em;
    color: red;
    font-size: 0.8em;
}
