.info-circle {
    float: right;
    margin-right: 10px;
    position: relative;
}

.info-box {
    display: none;
    z-index: 100;
}

.info-circle:hover .info-box {
    display: block;
    position: absolute;
    right: 0;
    width: max-content;
    background-color: #333;
    color: white;
    padding: 10px;
    border-radius: 4px;
    margin-top: 5px;
}

/* Tooltip arrow */
.info-box::after {
  content: "";
  position: absolute;
  bottom: 100%;
  right: 5px;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #333 transparent;
}
