.layer-menu-container {
    background-color: white;
    margin: 10px;
}

.tool-icon-container {
    display: flex;
}
.tool-icon {
    flex: 1;
}

.Sidebar__row {
    display: flex;
}

.Sidebar--hidden {
    display: none;
}

.Sidebar--visible {
    display: block;
}
