.zoom-button {
    display: flex;
    flex-direction: column;
    width: 40px;
    padding: 5px;
    background-color: white;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
@media screen and (min-width: 960px) {
    .zoom-button {
        border-radius: 4px;
        border: 1px solid #ccc;
    }
}

.zoom-button button {
    border-radius: 4px;
    background-color: white;
    border: 0;
    margin: 0;
    padding: 5px;
    font-size: 1.2rem;
    cursor: pointer;
}

.zoom-button button:hover {
    background-color: #333;
    color: white;
}

/* Tooltip */
.tooltip {
    position: relative;
}

.tooltip-text {
    display: none;
    position: absolute;
}

.tooltip .tooltip-text {
    background-color: #333;
    padding: 5px;
    font-size: 0.6em;
    border-radius: 4px;
    width: 60px;
}
.tooltip:hover .tooltip-text {
    display: block;
}

/* Right tooltip */
.tooltip-text--right {
    top: 5px;
    left: 105%;
}
.tooltip .tooltip-text--right {
    margin-left: 10px;
}

/* Left tooltip */
.tooltip-text--left {
    top: 5px;
    right: 105%;
}
.tooltip .tooltip-text--left {
    margin-right: 10px;
}

/* Tooltip arrow */
.tooltip .tooltip-text::after {
  content: " ";
  position: absolute;
  top: 50%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
}

/* Left arrow */
.tooltip .tooltip-text--left::after {
  left: 100%;
  border-color: transparent transparent transparent #333;
}

/* Right arrow */
.tooltip .tooltip-text--right::after {
  right: 100%;
  border-color: transparent #333 transparent transparent;
}
